# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
env/

# Streamlit
.streamlit/secrets.toml

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/interim/
data/
*.db
*.sqlite

# Model
models/
checkpoints/

# Logs
logs/

ml_training/
.venv/

bash/
app/